Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

build / rust-services:
  stage: build
  variables:
    TARGET: development
  script:
  ...

build / console:
  stage: build
  variables:
    TARGET: development
  script:
  ...

build / node-sdk:
  stage: build
  variables:
    TARGET: development
  script:
  ...

build / system-tests:
  stage: build
  variables:
    TARGET: development
  script:
  ...

build / protocol:
  stage: build
  variables:
    TARGET: development
  script:
  ...

build / rust-services / release:
  stage: build
  variables:
    TARGET: release
  script:
  ...

build / console / release:
  stage: build
  variables:
    TARGET: release
  script:
  ...

build / system-tests / release:
  stage: build
  script:
  ...

build / protocol / release:
  stage: build
  script:
  ...

test
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  .gitlab/issue_templates/add_app_to_catalog.md
  controlplane/frn-core/src/compute/instance.rs
  controlplane/synchronizer/src/lib.rs
Due: build / rust-services, build / rust-services / release

test
  adr/001-discovery.md
  controlplane/derive_repository/src/build_method_create.rs
Due: build / rust-services, build / rust-services / release

test
  controlplane/derive_repository/src/build_method_create.rs
Due: build / rust-services, build / rust-services / release

fix build error
  controlplane/derive_repository/src/build_method_create.rs
Due: build / rust-services, build / rust-services / release

coding style
  controlplane/derive_repository/src/build_method_create.rs
Due: build / rust-services, build / rust-services / release

namespace name into var
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

chore(release): 1.59.0 [skip ci]
  CHANGELOG.md
Due: none

fix(ci): correct yaml indentation for buildkit namespace option
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

feat: add vm resize
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/hypervisor/src/instance.rs
  controlplane/hypervisor/src/proxmox/api/endpoints.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/vm_create.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/vm_disk_resize.rs
  controlplane/hypervisor/src/proxmox/instance.rs
  docker-compose.yml
Due: build / rust-services, build / rust-services / release

fix: retours coderabbit
  console/src/components/instance-table.tsx
  controlplane/Cargo.lock
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/compute.proto
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_apply.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_subnet_create.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_subnet_delete.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_vnet_create.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_vnet_delete.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/sdn_zone_delete.rs
  controlplane/migrations/atlas.sum
Due: build / rust-services, build / console, build / rust-services / release, build / console / release

test: add disk resize mock
  controlplane/hypervisor/src/mock.rs
  controlplane/server/tests/common/mod.rs
Due: build / rust-services, build / rust-services / release

test: variabilize snippet mount
  controlplane/Cargo.lock
  controlplane/hypervisor/src/proxmox/instance.rs
  controlplane/server/Cargo.toml
  controlplane/server/tests/test_create_instance_procedure.rs
Due: build / rust-services, build / rust-services / release

ci: remove allow_failure flags
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

style: fix markdown syntax
  .gitlab/issue_templates/add_app_to_catalog.md
  .markdownlint-cli2.yaml
  README.md
  adr/001-discovery.md
  adr/002-authentication.md
Due: none

coding style
  adr/001-discovery.md
Due: none

fix(ci): align protocol image tags and optimize build pipeline
  .gitlab-ci.yml
  controlplane/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  adr/001-discovery.md
Due: none

coding style
  .gitlab/issue_templates/add_app_to_catalog.md
  README.md
  adr/002-authentication.md
Due: none

feat: add vm resize
  .gitlab-ci.yml
  controlplane/Cargo.lock
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/hypervisor/src/instance.rs
  controlplane/hypervisor/src/mock.rs
  controlplane/hypervisor/src/proxmox/api/endpoints.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/vm_create.rs
  controlplane/hypervisor/src/proxmox/api/endpoints/vm_disk_resize.rs
  controlplane/hypervisor/src/proxmox/instance.rs
  controlplane/server/Cargo.toml
  controlplane/server/tests/common/mod.rs
  controlplane/server/tests/test_create_instance_procedure.rs
  docker-compose.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

coding style
  .gitlab/issue_templates/add_app_to_catalog.md
  README.md
  adr/001-discovery.md
  adr/002-authentication.md
Due: none

coding style
  README.md
Due: none

fix(ci): pre-compile binaries in development Docker stages
  controlplane/Dockerfile
Due: build / rust-services, build / rust-services / release

fix(console): add VITE environment variables for development mode
  console/Dockerfile
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/values.yaml
Due: build / console, build / console / release

feat: using sealed secret for production
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/sealed-secret-prod.yaml
  helm/plateforme/templates/secrets.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fixing errors
  helm/plateforme/templates/sealed-secret-prod.yaml
Due: none

fixing errors
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fixing errors
  .gitlab-ci.yml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fixing errors
  .gitlab-ci.yml
  helm/plateforme/templates/synchronizer/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

coderabbit threads
  .gitlab-ci.yml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/sealed-secret-prod.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

feat: using sealed secret for production
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/sealed-secret-prod.yaml
  helm/plateforme/templates/secrets.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  controlplane/frn-core/src/compute/instance.rs
  controlplane/migrations/20260206135330_add_deleted_at_to_instances.sql
  controlplane/migrations/atlas.sum
  controlplane/schema.hcl
  controlplane/synchronizer/src/lib.rs
Due: build / rust-services, build / rust-services / release

chore: update SQLx offline cache for deleted_at queries
  controlplane/.sqlx/query-06dae50e2f79f761540007449eb52edfc51b5256a28dab95f9c1863a6dbdd720.json
  controlplane/.sqlx/query-53ba571496d1f1e1b801c296ae13e49875e582f31a90d05cdfeca73604baaf17.json
  controlplane/.sqlx/query-ca398106eb13970406cf86483f98c1c050920c1d89e32c9c8adf9a4e95b3a2e1.json
  controlplane/.sqlx/query-e74982e1a636cb56dcc68eab63f1d9b1b7ac268387c12580f8afe15d2c307b11.json
Due: build / rust-services, build / rust-services / release

test
  .gitlab-ci.yml
  console/Dockerfile
  controlplane/Dockerfile
  node-sdk/Dockerfile
  protocol/Dockerfile
  system-tests/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  protocol/Dockerfile
Due: build / protocol, build / protocol / release

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: system-tests/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: system-tests/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
