Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: controlplane/**/*, node-sdk/**/*, system-tests/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: console/**/*, controlplane/**/*, system-tests/**/*, node-sdk/**/*, helm/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
  code style / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  code style / console: any of: console/**/*, .gitlab-ci.yml
  code style / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  code style / markdown: any of: **/*.md, .gitlab-ci.yml
  unit tests / authz: any of: authz/**/*, .gitlab-ci.yml
  unit tests / migration linting: any of: controlplane/migrations/**/*, .gitlab-ci.yml
  unit tests / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  deploy / ci-environment: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
  system tests / kubernetes: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml

fix: on rajoute le step de deploy manquant
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.60.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat: add beta page
  console/src/components/index.ts
  console/src/components/organization-guard.tsx
  console/src/features/resources.slice.ts
  console/src/pages/index.ts
  console/src/pages/private-beta.page.tsx
  console/src/router.tsx
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

chore(release): 1.61.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

ci(runners): offload heavy Rust jobs to on-prem ada6000 runner
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

Revert "ci(runners): offload heavy Rust jobs to on-prem ada6000 runner"
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.61.1 [skip ci]
  CHANGELOG.md
Due: code style / markdown

ci(runners): re-route heavy Rust jobs to ada6000 (group_runners_enabled OK)
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

feat: add kubernetes cluster label management
  console/.gitignore
  console/pnpm-lock.yaml
  console/pnpm-workspace.yaml
  console/src/components/cluster-labels-editor.tsx
  console/src/components/index.ts
  console/src/components/kubernetes-labels-picker.tsx
  console/src/features/authentication.slice.spec.ts
  console/src/features/kubernetes-clusters.slice.spec.ts
  console/src/features/kubernetes-clusters.slice.ts
  console/src/hooks/index.ts
  console/src/hooks/use-cluster-labels.ts
  console/src/hooks/use-kubernetes-label-registry.ts
  console/src/pages/kubernetes-cluster-create.page.tsx
  console/src/pages/kubernetes-cluster-edit.page.tsx
  console/src/pages/kubernetes-clusters.page.tsx
  console/src/pages/managed-service-deploy.page.tsx
  console/vite.config.ts
  console/vitest.config.ts
  controlplane/frn-core/src/kubernetes/label.rs
  controlplane/frn-rpc/kubernetes.proto
  controlplane/frn-rpc/src/v1/kubernetes.rs
  controlplane/migrations/20260513120000_create_managed_services.sql
  controlplane/migrations/20260611120000_add_deploy_target_to_managed_service.sql
  controlplane/migrations/atlas.sum
  controlplane/server/tests/test_kubernetes_cluster_procedure.rs
  controlplane/server/tests/test_kubernetes_label_service.rs
  node-sdk/pnpm-lock.yaml
  node-sdk/src/fixtures/kubernetes-cluster.ts
  node-sdk/src/generated/rpc/kubernetes.client.ts
  node-sdk/src/generated/rpc/kubernetes.ts
  node-sdk/src/models/kubernetes-cluster.ts
  node-sdk/src/services/api/kubernetes-cluster.interface.ts
  node-sdk/src/services/mock/kubernetes-cluster.mock.ts
  node-sdk/src/services/rpc/kubernetes-cluster.rpc.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / console, code style / node-sdk, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(deps): update registry.france-nuage.fr/arigaio/atlas docker digest to dc77873
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.62.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix: use prod kubeconfig
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: on arrête d'utiliser la ada car trop d'erreur de manque de place dispo du scheduler
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.62.1 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat(db): migre les 3 bases vers un cluster CloudNativePG unique
  helm/plateforme/templates/database/cnpg-cluster.yaml
  helm/plateforme/templates/database/credentials.yaml
  helm/plateforme/templates/database/services.yaml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak-db/service.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/postgres/init-configmap.yaml
  helm/plateforme/templates/postgres/pvc.yaml
  helm/plateforme/templates/postgres/service.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
  helm/plateforme/templates/spicedb-db/service.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(secrets): tous les sealed secrets prod nécessaires dans le repo
  helm/plateforme/templates/database/sealed-cnpg-backup-prod.yaml
  helm/plateforme/templates/database/sealed-credentials-prod.yaml
  helm/plateforme/templates/sealed-secret-prod.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

ci: bouton deploy prod manuel sur la MR CNPG + backup off (bootstrap)
  .gitlab-ci.yml
  helm/plateforme/values-prod.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

ci: désactive l'environnement CI éphémère sur la MR CNPG (garde le deploy prod manuel)
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(keycloak): startupProbe + deploy prod master-only
  .gitlab-ci.yml
  helm/plateforme/templates/keycloak/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

ci: retire les règles temporaires de la MR (fichier CI revenu à l'identique de master)
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

ci: commente les jobs d'environnement CI éphémère (deploy/cleanup/system-tests ci)
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

feat(db): migre les 3 bases vers un cluster CloudNativePG unique
  .gitlab-ci.yml
  helm/plateforme/templates/database/cnpg-cluster.yaml
  helm/plateforme/templates/database/credentials.yaml
  helm/plateforme/templates/database/sealed-cnpg-backup-prod.yaml
  helm/plateforme/templates/database/sealed-credentials-prod.yaml
  helm/plateforme/templates/database/services.yaml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak-db/service.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/postgres/init-configmap.yaml
  helm/plateforme/templates/postgres/pvc.yaml
  helm/plateforme/templates/postgres/service.yaml
  helm/plateforme/templates/sealed-secret-prod.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
  helm/plateforme/templates/spicedb-db/service.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.63.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat(helm): expose console et controlplane via Ingress
  helm/plateforme/templates/console/ingress.yaml
  helm/plateforme/templates/controlplane/ingress.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(helm): console 2 replicas en prod
  helm/plateforme/values-prod.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(helm): anti-affinité zone (preferred) sur la console
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(helm): expose console et controlplane via Ingress
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/console/ingress.yaml
  helm/plateforme/templates/controlplane/ingress.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.64.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat(helm): sonde BetterStack controlplane attend un HTTP 400
  helm/plateforme/templates/controlplane/ingress.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.65.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(controlplane): ajoute betterstack.io/monitor-type=expected_status_code
  helm/plateforme/templates/controlplane/ingress.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.65.1 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(cnpg-backup): corrige les creds S3 + bucket de plateforme-prod-db
  helm/plateforme/templates/database/sealed-cnpg-backup-prod.yaml
  helm/plateforme/values-prod.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes
