Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

build / rust-services:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / node-sdk:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / rust-services / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

test
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  helm/plateforme/values-ci.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  helm/plateforme/templates/system-tests/job.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  system-tests/Dockerfile
  system-tests/tests/cases/compute/instances/create.spec.ts
  system-tests/tests/cases/compute/instances/delete.spec.ts
  system-tests/tests/cases/compute/instances/start.spec.ts
  system-tests/tests/cases/compute/instances/stop.spec.ts
  system-tests/tests/cases/compute/instances/update.spec.ts
  system-tests/tests/cases/home.spec.ts
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  system-tests/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  system-tests/tests/base.ts
  system-tests/tests/cases/compute/instances/create.spec.ts
  system-tests/tests/cases/compute/instances/delete.spec.ts
  system-tests/tests/cases/compute/instances/start.spec.ts
  system-tests/tests/cases/compute/instances/stop.spec.ts
  system-tests/tests/cases/compute/instances/update.spec.ts
  system-tests/tests/cases/home.spec.ts
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  system-tests/package.json
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  system-tests/tests/cases/compute/instances/create.spec.ts
  system-tests/tests/cases/compute/instances/delete.spec.ts
  system-tests/tests/cases/compute/instances/start.spec.ts
  system-tests/tests/cases/compute/instances/stop.spec.ts
  system-tests/tests/cases/compute/instances/update.spec.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  controlplane/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

code rabbit fix
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  system-tests/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
  helm/plateforme/templates/system-tests/job.yaml
  helm/plateforme/values-ci.yaml
  system-tests/Dockerfile
  system-tests/package.json
  system-tests/tests/base.ts
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore: update SQLx offline cache for deleted_at queries
  controlplane/.sqlx/query-06dae50e2f79f761540007449eb52edfc51b5256a28dab95f9c1863a6dbdd720.json
  controlplane/.sqlx/query-53ba571496d1f1e1b801c296ae13e49875e582f31a90d05cdfeca73604baaf17.json
  controlplane/.sqlx/query-ca398106eb13970406cf86483f98c1c050920c1d89e32c9c8adf9a4e95b3a2e1.json
  controlplane/.sqlx/query-e74982e1a636cb56dcc68eab63f1d9b1b7ac268387c12580f8afe15d2c307b11.json
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  controlplane/frn-core/src/compute/instance.rs
  controlplane/migrations/20260206135330_add_deleted_at_to_instances.sql
  controlplane/migrations/atlas.sum
  controlplane/schema.hcl
  controlplane/synchronizer/src/lib.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  .gitlab-ci.yml
  console/Dockerfile
  controlplane/Dockerfile
  node-sdk/Dockerfile
  protocol/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  protocol/Dockerfile
Due: build / protocol, build / protocol / release

test
  controlplane/server/tests/test_list_instance_procedure.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: wait for system-tests job to be created before checking logs
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: add system-tests image configuration in CI deployment
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test
  controlplane/frn-core/src/compute/instance.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: invalid console production iam parameters
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: on ne deploy pas sur le kube pour le moment
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: on commente la partie deploy et cleanup inutilisée pour le moment
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix: on ne garde que le deploy sur kube pour les branche autre que master
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: controlplane/**/*, node-sdk/**/*, system-tests/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: console/**/*, controlplane/**/*, system-tests/**/*, node-sdk/**/*, helm/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
  code style / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  code style / console: any of: console/**/*, .gitlab-ci.yml
  code style / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  code style / markdown: any of: **/*.md, .gitlab-ci.yml
  unit tests / authz: any of: authz/**/*, .gitlab-ci.yml
  unit tests / migration linting: any of: controlplane/migrations/**/*, .gitlab-ci.yml
  unit tests / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  deploy / ci-environment: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
  system tests / kubernetes: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
