Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: controlplane/**/*, node-sdk/**/*, system-tests/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: console/**/*, controlplane/**/*, system-tests/**/*, node-sdk/**/*, helm/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
  code style / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  code style / console: any of: console/**/*, .gitlab-ci.yml
  code style / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  code style / markdown: any of: **/*.md, .gitlab-ci.yml
  unit tests / authz: any of: authz/**/*, .gitlab-ci.yml
  unit tests / migration linting: any of: controlplane/migrations/**/*, .gitlab-ci.yml
  unit tests / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  deploy / ci-environment: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
  system tests / kubernetes: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml

style(controlplane): cargo fmt + README ligne ≤80 (MD013)
  README.md
  controlplane/frn-core/src/identity/iam.rs
  controlplane/frn-core/src/identity/session.rs
  controlplane/frn-crypto/src/lib.rs
  controlplane/server/src/application.rs
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / markdown, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

feat(prod): active le BFF confidentiel + décommissionne le Keycloak in-cluster
  helm/plateforme/templates/sealed-secret-prod.yaml
  helm/plateforme/values-prod.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

ci(system-tests): fait tourner le flux BFF confidentiel dans l'env CI
  helm/plateforme/templates/keycloak/realm-configmap.yaml
  helm/plateforme/values-ci.yaml
  system-tests/tests/base.ts
  system-tests/tests/pages/oidc.page.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

test(system-tests): rattache wile.coyote à l'organisation de test
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

test(system-tests): login par formulaire d'un utilisateur provisionné par l'API
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.67.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(plateforme): OIDC_URL doit être l'URL de découverte complète (.well-known)
  helm/plateforme/values-prod.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.67.1 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(console): durcir le lien d'auth BFF côté frontend
  console/package-lock.json
  console/package.json
  console/pnpm-lock.yaml
  console/src/components/admin-guard.spec.tsx
  console/src/components/organization-guard.tsx
  console/src/features/authentication.slice.spec.ts
  console/src/features/authentication.slice.ts
  console/src/features/resources.slice.spec.ts
  console/src/features/resources.slice.ts
  console/src/providers/user-provider.tsx
  console/src/services/bff-auth.spec.ts
  console/src/services/bff-auth.ts
  console/vitest.config.ts
  console/vitest.setup.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

fix(controlplane): footguns de config et de session du BFF auth
  controlplane/server/src/application.rs
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/src/metrics.rs
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(controlplane): footguns config/session round-2 + doc d'archi à jour
  adr/002-authentication.md
  adr/003-bff-authentication.md
  adr/runbook-auth-cookie-key-rotation.md
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/src/metrics.rs
  controlplane/server/tests/test_bff_auth.rs
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / markdown, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(console): afficher l'erreur d'auth et tenter un refresh avant le login
  console/src/features/authentication.slice.spec.ts
  console/src/features/authentication.slice.ts
  console/src/pages/home.page.spec.tsx
  console/src/pages/home.page.tsx
  console/src/pages/login.page.spec.tsx
  console/src/pages/login.page.tsx
  console/src/services/bff-auth.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

fix(console): traiter un control-plane injoignable comme une erreur, pas un logout
  console/src/services/bff-auth.spec.ts
  console/src/services/bff-auth.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

fix(controlplane): distinguer 'pas de session' d'un échec de refresh réel
  adr/003-bff-authentication.md
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/src/metrics.rs
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / markdown, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(console): control-plane injoignable ≠ session morte sur le chemin gRPC
  console/src/features/authentication.slice.spec.ts
  console/src/features/authentication.slice.ts
  console/src/middlewares/rpc.spec.ts
  console/src/middlewares/rpc.ts
  console/src/services/bff-auth.spec.ts
  console/src/services/bff-auth.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

chore(console): retirer la config OIDC client-side morte (rip-out SPA terminé)
  console/docker-entrypoint.sh
  console/public/config.js
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/values.yaml
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

test(controlplane): prouver l'émission de auth_refresh_total{result=decrypt_fail}
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(console): 5xx de refresh = infra transitoire + config runtime validée au boot
  console/src/config.spec.ts
  console/src/config.ts
  console/src/services/bff-auth.spec.ts
  console/src/services/bff-auth.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

chore: retirer les VITE_* morts du service console (rip-out SPA terminé)
  docker-compose.yml
Due: none

test(console): couvrir les branches de rendu anti-boucle des guards
  console/src/components/organization-guard.spec.tsx
  console/src/providers/user-provider.spec.tsx
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

test(controlplane): couvrir les rejets de callback alertés + l'exp de /auth/me
  controlplane/frn-core/src/identity/iam.rs
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

docs(controlplane): corriger la docstring 'Security Guarantees' de validate_token
  controlplane/auth/src/openid.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

docs(controlplane): corriger 3 docstrings périmées sur le chemin d'auth
  controlplane/auth/src/error.rs
  controlplane/auth/src/openid.rs
  controlplane/server/src/config.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(controlplane): exiger email_verified quand l'identité est keyée sur l'email
  controlplane/auth/src/error.rs
  controlplane/auth/src/rfc7519.rs
  controlplane/frn-core/src/identity/iam.rs
  controlplane/server/src/bff.rs
  controlplane/server/tests/test_bff_auth.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(controlplane): couvrir le rejet d'un email non vérifié sur /auth/refresh
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

docs(controlplane): corriger la docstring UserNotRegistered
  controlplane/auth/src/error.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(controlplane): épingler le sujet OIDC pour bloquer la reprise d'identité par recyclage d'email
  controlplane/auth/src/error.rs
  controlplane/frn-core/src/error.rs
  controlplane/frn-core/src/identity/iam.rs
  controlplane/frn-core/src/identity/user.rs
  controlplane/migrations/20260816120000_add_sub_to_users.sql
  controlplane/migrations/atlas.sum
  controlplane/schema.hcl
  controlplane/server/src/bff.rs
  controlplane/server/tests/common/mod.rs
  controlplane/server/tests/test_bff_auth.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
  controlplane/server/tests/test_kubernetes_cluster_service.rs
  controlplane/server/tests/test_kubernetes_label_service.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(controlplane): provisionner les users par factory avec un sujet non épinglé
  controlplane/auth/src/openid.rs
  controlplane/frn-core/src/identity/user.rs
  controlplane/server/tests/common/mod.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(controlplane): couverture par-entrée du sujet + corriger 2 docstrings « email autoritaire »
  controlplane/frn-core/src/identity/session.rs
  controlplane/server/src/bff.rs
  controlplane/server/tests/test_bff_auth.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

docs(controlplane): corriger la docstring Error::Other (auth)
  controlplane/auth/src/error.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(controlplane): couvrir le rejet d'un email recyclé sur /auth/me (jamais 500, pas de fuite isAdmin)
  controlplane/server/tests/test_bff_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(controlplane): rendre le backend mock dev-only pour qu'il ne parte pas en prod
  controlplane/auth/src/openid.rs
  controlplane/frn-core/Cargo.toml
  controlplane/frn-core/src/app.rs
  controlplane/server/Cargo.toml
  controlplane/server/src/config.rs
  controlplane/spicedb/Cargo.toml
  controlplane/spicedb/src/client.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(controlplane): garder cargo test -p spicedb compilable sans la feature mock
  controlplane/spicedb/src/lib.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

style(controlplane): rustfmt 1.90 + reflow des ADR à 80 colonnes (markdownlint)
  adr/002-authentication.md
  adr/003-bff-authentication.md
  adr/runbook-auth-cookie-key-rotation.md
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/tests/test_bff_auth.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / markdown, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(controlplane): activer spicedb/mock en dev-dep du crate workflow (tests isolés)
  controlplane/workflow/Cargo.toml
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.67.2 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(auth): résout le sujet OIDC via UserInfo quand l'access token n'a pas de sub
  controlplane/auth/src/error.rs
  controlplane/auth/src/mock.rs
  controlplane/auth/src/openid.rs
  controlplane/frn-core/src/identity/iam.rs
  controlplane/server/tests/common/mod.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

test(auth): câble le UserInfo mock sur OpenID::mock (et le maintient vivant)
  controlplane/auth/src/mock.rs
  controlplane/auth/src/openid.rs
  controlplane/server/tests/common/mod.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes
