Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

build / controlplane:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / authz-worker:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / synchronizer:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / console:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / node-sdk:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / system-tests:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

build / protocol:
  stage: build
  variables:
    TARGET: development
    BUILDKIT_INLINE_CACHE: '1'
  script:
  ...

fix: use GIT_DEPTH=0 for migration linting job
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

revert: go back to GIT_DEPTH=0 and GIT_STRATEGY=clone
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

fix: remove /app/target cache mount from cargo chef cook
  controlplane/Dockerfile
  controlplane/Dockerfile.authz-worker
  controlplane/Dockerfile.synchronizer
Due: build / controlplane, build / authz-worker, build / synchronizer

feat: add move instance feature
  authz/schema.zed
  console/src/components/instance-table.tsx
  console/src/features/instances.slice.ts
  controlplane/.sqlx/query-394e8ee86bbea946f8ed1ed7b39dd92012f0de00492946f461ff41aa1e984e82.json
  controlplane/.sqlx/query-399487ed7e377476cb9d788f9a739934b8ea3ada247015f44d6830a941a5b36d.json
  controlplane/.sqlx/query-6b44edc717a608ef01a584147d12ffab66e6a8a3a7d19b51c2ab6f9ae4aab30b.json
  controlplane/.sqlx/query-e3849c77b38af600d164469f05aa626f9db065dd28517522ef964a5517400c1c.json
  controlplane/frn-core/src/authorization/authorize.rs
  controlplane/frn-core/src/authorization/permission.rs
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/compute.proto
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/server/tests/test_update_instance_procedure.rs
  controlplane/spicedb/src/client.rs
  node-sdk/src/generated/rpc/compute.client.ts
  node-sdk/src/generated/rpc/compute.ts
  node-sdk/src/services/api/instance.interface.ts
  node-sdk/src/services/mock/instance.mock.ts
  node-sdk/src/services/rpc/instance.rpc.ts
  system-tests/tests/cases/compute/instances/update.spec.ts
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests

refactor: fix codestyle
  controlplane/frn-core/src/compute/instance.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

chore(release): 1.55.0 [skip ci]
  CHANGELOG.md
Due: none

fix: remove cache mounts not applicable in CI with emptydirs
  .gitlab-ci.yml
  console/Dockerfile
  controlplane/Dockerfile
  controlplane/Dockerfile.authz-worker
  controlplane/Dockerfile.synchronizer
  node-sdk/Dockerfile
  system-tests/Dockerfile
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

fix: address code review comments on buildx migration
  .gitlab-ci.yml
  controlplane/Dockerfile
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

perf: optimize CI pipeline with Phase 1 quick wins
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

docs: add detailed CI optimization roadmap for phases 2-3
  .gitlab-ci-optimization-plan.txt
Due: none

perf: implement Phase 2 CI optimizations - parallel builds and unified Rust compilation
  .gitlab-ci.yml
  controlplane/Dockerfile.all
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

refactor: consolidate Rust services into single unified Dockerfile
  .gitlab-ci.yml
  controlplane/Dockerfile
  controlplane/Dockerfile.all
  controlplane/Dockerfile.authz-worker
  controlplane/Dockerfile.synchronizer
  docker-compose.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

ci: variabilize spicedb url
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

chore: remove Phase 3 planning files and optimization roadmap
  .gitlab-ci-optimization-plan.txt
Due: none

fix: address CI review comments - error handling and cache strategy
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

fix: CI controlplane IP
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

chore(release): 1.56.0 [skip ci]
  CHANGELOG.md
Due: none

feat(console): auto-redirect /login to OIDC provider
  console/src/pages/login.page.tsx
  system-tests/tests/cases/security/authentication.spec.ts
  system-tests/tests/pages/login.page.ts
Due: build / console, build / system-tests

ci: add doker-compose ci configuration
  .gitlab-ci.yml
  docker-compose.ci.yml
  docker-compose.yml
  seed.sql
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

ci: remove invalid console production values
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

fix(console): add error handling for OIDC redirect and remove redundant test
  console/src/pages/login.page.tsx
  system-tests/tests/cases/security/authentication.spec.ts
Due: build / console, build / system-tests

wip: add long running operations
  controlplane/frn-core/src/lib.rs
  controlplane/frn-core/src/longrunning.rs
  controlplane/frn-core/src/longrunning/operation.rs
  controlplane/migrations/20260104181625_create_operations_table.sql
  controlplane/migrations/atlas.sum
  controlplane/schema.hcl
Due: build / controlplane, build / authz-worker, build / synchronizer

test: fix failing tests
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-core/src/resourcemanager/organization.rs
  controlplane/infrastructure/src/zero_trust_network_types/model.rs
  controlplane/infrastructure/src/zero_trust_networks/model.rs
  controlplane/infrastructure/src/zero_trust_networks/rpc.rs
  controlplane/infrastructure/src/zero_trust_networks/service.rs
  controlplane/server/tests/test_clone_instance_procedure.rs
  controlplane/server/tests/test_create_instance_procedure.rs
  controlplane/server/tests/test_create_organization_procedure.rs
  controlplane/server/tests/test_create_project_procedure.rs
  controlplane/server/tests/test_delete_instance_procedure.rs
  controlplane/server/tests/test_detach_hypervisor_procedure.rs
  controlplane/server/tests/test_list_instance_procedure.rs
  controlplane/server/tests/test_list_organizations_procedure.rs
  controlplane/server/tests/test_list_projects_procedure.rs
  controlplane/server/tests/test_register_hypervisor_procedure.rs
  controlplane/server/tests/test_start_instance_procedure.rs
  controlplane/server/tests/test_stop_instance_procedure.rs
  controlplane/server/tests/test_update_instance_procedure.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

chore: apply codestyle
  console/src/pages/login.page.tsx
Due: build / console

chore: update build conditions
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

docs: fix typo
  controlplane/infrastructure/src/zero_trust_network_types/model.rs
  controlplane/infrastructure/src/zero_trust_networks/model.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

fix: handle max_disk_bytes
  controlplane/frn-core/src/compute/instance.rs
  controlplane/server/tests/test_create_instance_procedure.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

test: update type
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/hypervisor/src/instance.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

chore(release): 1.57.0 [skip ci]
  CHANGELOG.md
Due: none

refactor: move to operation
  .gitlab-ci.yml
  controlplane/Cargo.lock
  controlplane/Cargo.toml
  controlplane/Dockerfile
  controlplane/frn-core/Cargo.toml
  controlplane/frn-core/src/authorization/relationship.rs
  controlplane/frn-core/src/compute/hypervisor.rs
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-core/src/error.rs
  controlplane/frn-core/src/identity/invitation.rs
  controlplane/frn-core/src/longrunning/operation.rs
  controlplane/frn-core/src/resourcemanager/organization.rs
  controlplane/frn-core/src/resourcemanager/project.rs
  controlplane/operation-worker/Cargo.toml
  controlplane/operation-worker/src/error.rs
  controlplane/operation-worker/src/lib.rs
  controlplane/operation-worker/src/main.rs
  controlplane/synchronizer/src/lib.rs
  docker-compose.prod.yml
  docker-compose.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

doc: ajout des gros sujets pour Léo
  docs/buildkit-rootless-mission.md
  docs/helm-chart-mission.md
Due: none

refactor: remove sleeps from tes
  controlplane/auth/src/openid.rs
  controlplane/frn-core/src/error.rs
  controlplane/frn-core/src/longrunning.rs
  controlplane/frn-core/src/longrunning/operation.rs
  controlplane/migrations/20260104181625_create_operations_table.sql
  controlplane/migrations/atlas.sum
  controlplane/operation-worker/src/lib.rs
  controlplane/operation-worker/src/main.rs
  controlplane/server/tests/common/mod.rs
  controlplane/server/tests/test_get_operation_procedure.rs
  controlplane/server/tests/test_wait_operation_procedure.rs
  controlplane/synchronizer/src/lib.rs
Due: build / controlplane, build / authz-worker, build / synchronizer

feat: allow specifiying clone name
  controlplane/frn-core/src/compute/instance.rs
  controlplane/frn-rpc/compute.proto
  controlplane/frn-rpc/src/v1/compute.rs
  controlplane/schema.hcl
  controlplane/server/tests/test_clone_instance_procedure.rs
  controlplane/synchronizer/src/lib.rs
  node-sdk/.DS_Store
  node-sdk/src/generated/rpc/compute.ts
  node-sdk/src/generated/rpc/longrunning.client.ts
  node-sdk/src/generated/rpc/longrunning.ts
  node-sdk/src/services/api/instance.interface.ts
  node-sdk/src/services/mock/instance.mock.ts
  node-sdk/src/services/rpc/instance.rpc.ts
  node-sdk/tsconfig.json
  seed.sql
  system-tests/tests/base.ts
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests

fix: tag fixe pour buildx et builder dédié par jobs
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

doc: remove ended and pipeline blocking subjects
  docs/buildkit-rootless-mission.md
  docs/helm-chart-mission.md
Due: none

fix: use docker driver for buildkit to access tls certs
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

fix: tentons avec le contexte docker buildx seulement
  .gitlab-ci.yml
Due: build / controlplane, build / authz-worker, build / synchronizer, build / console, build / node-sdk, build / system-tests, build / protocol

chore(release): 1.58.0 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  build / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  build / authz-worker: any of: controlplane/**/*, .gitlab-ci.yml
  build / synchronizer: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: system-tests/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
