Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

build / rust-services:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / node-sdk:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / rust-services / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

chore(release): 1.65.2 [skip ci]
  CHANGELOG.md
Due: code style / markdown

fix(plateforme): colocalise les apps DB avec la zone du primary CNPG
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/operation-worker/deployment.yaml
  helm/plateforme/templates/spicedb/deployment.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(release): 1.65.3 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat(ci): environnements éphémères sur qualif avec nettoyage automatique
  .gitlab-ci.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/scheduled.yml
  .gitlab/ci/templates.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(ci): retire les build-arg VITE_* obsolètes du build console
  .gitlab/ci/build.yml
Due: none

feat(console): résout la configuration au runtime via config.js
  console/Dockerfile
  console/docker-entrypoint.sh
  console/index.html
  console/public/config.js
  console/src/config.ts
  console/src/features/application.slice.ts
  console/src/pages/home.page.tsx
  console/src/router.tsx
  console/vite.config.ts
  helm/plateforme/templates/console/deployment.yaml
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

feat(controlplane): annote les namespaces déployés via configuration globale
  controlplane/frn-core/src/managed.rs
  controlplane/frn-core/src/managed/create.rs
  controlplane/server/src/config.rs
  controlplane/server/tests/common/mod.rs
  controlplane/server/tests/test_create_instance_procedure.rs
  controlplane/server/tests/test_stripe_webhook_idempotency.rs
  controlplane/worker/src/main.rs
  controlplane/workflow/src/operations/create_namespace.rs
  controlplane/workflow/src/scheduler.rs
  controlplane/workflow/src/workflows/deploy_managed_service.rs
  controlplane/workflow/tests/common/mod.rs
  controlplane/workflow/tests/kubernetes_operations.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

refactor(ci): découpe .gitlab-ci.yml en fichiers par domaine
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/production.yml
  .gitlab/ci/release.yml
  .gitlab/ci/security.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/test.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

docs(readme): documente le déploiement local sur kind
  README.md
  docker-compose.yml
Due: code style / markdown

feat(helm): rend le clusterDomain configurable pour les services de base
  helm/plateforme/templates/database/services.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(helm): ajoute les ingress console/controlplane/keycloak et dérive les URLs du baseDomain
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/controlplane/ingress.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/keycloak/ingress.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

test(system-tests): purge le legacy Proxmox et cible les managed services
  system-tests/package.json
  system-tests/tests/base.ts
  system-tests/tests/cases/compute/instances/create.spec.ts
  system-tests/tests/cases/compute/instances/delete.spec.ts
  system-tests/tests/cases/compute/instances/start.spec.ts
  system-tests/tests/cases/compute/instances/stop.spec.ts
  system-tests/tests/cases/compute/instances/update.spec.ts
  system-tests/tests/cases/home.spec.ts
  system-tests/tests/cases/managed-services/gitlab-runner.spec.ts
  system-tests/tests/cases/security/authentication.spec.ts
  system-tests/tests/pages/compute/create-instance.page.ts
  system-tests/tests/pages/compute/index.ts
  system-tests/tests/pages/compute/instances.page.ts
  system-tests/tests/pages/index.ts
  system-tests/tests/pages/managed-service-detail.page.ts
  system-tests/tests/pages/managed-services.page.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(ci): aligne le déploiement prod sur les URLs dérivées du baseDomain
  .gitlab/ci/production.yml
Due: none

ci: exécute les tests système sur chaque MR (retire les rules:changes)
  .gitlab/ci/deploy.yml
Due: none

fix(readme): scinde la commande hosts pour respecter MD013 (80 col)
  README.md
Due: code style / markdown

feat(helm): expose DEPLOYMENT_LABELS/ANNOTATIONS au control plane
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(ci): réutilise un certificat wildcard partagé pour les envs éphémères
  .gitlab/ci/deploy.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/console/ingress.yaml
  helm/plateforme/templates/controlplane/ingress.yaml
  helm/plateforme/templates/keycloak/ingress.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

chore(system-tests): retire PW_TEST_HTML_REPORT_OPEN redondant
  docker-compose.yml
Due: none

fix(ci): désactive la validation OpenAPI sur l'apply du namespace
  .gitlab/ci/deploy.yml
Due: none

test(system-tests): empêche le reporter HTML de bloquer le job CI
  system-tests/package.json
  system-tests/playwright.config.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(helm): aligne le realm Keycloak CI sur le local et ajoute l'origine dynamique
  helm/plateforme/files/keycloak-realm.json
  helm/plateforme/templates/keycloak/realm-configmap.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(helm): rend les tests système joignables et corrige l'URL OIDC console
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/system-tests/job.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(system-tests): sert le rapport Playwright via nginx sur qualif
  .gitlab/ci/deploy.yml
  helm/plateforme/templates/system-tests/job.yaml
  helm/plateforme/templates/system-tests/report-pvc.yaml
  helm/plateforme/templates/system-tests/report.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(ci): évite le timeout OpenAPI lors de la copie du secret wildcard
  .gitlab/ci/deploy.yml
Due: none

fix(ci): recrée proprement le secret wildcard dans l'environnement éphémère
  .gitlab/ci/deploy.yml
Due: none

test(system-tests): utilise CONTROLPLANE_URL au lieu d'une URL en dur
  system-tests/tests/base.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(helm): désactive ssl-redirect sur qualif (TLS terminé en amont)
  helm/plateforme/templates/console/ingress.yaml
  helm/plateforme/templates/controlplane/ingress.yaml
  helm/plateforme/templates/keycloak/ingress.yaml
  helm/plateforme/templates/system-tests/report.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(helm): attend les endpoints publics avant de lancer les tests système
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/system-tests/job.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(ci): supprime les déploiements applicatifs au lieu de les scaler
  .gitlab/ci/deploy.yml
Due: none

feat(helm): résout l'OIDC hairpin via hostAliases sur qualif
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

ci(buildkit): monte le builder de 2 à 8 CPU pour accélérer le build rust
  .gitlab/ci/templates.yml
Due: none

chore(deps): update dependency @types/lodash to v4.17.25
  console/package-lock.json
  console/pnpm-lock.yaml
  system-tests/package-lock.json
Due: build / console, build / system-tests, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

feat(auth): BFF client confidentiel — cookie de session chiffré + /auth/refresh
  README.md
  controlplane/Cargo.lock
  controlplane/auth/src/openid.rs
  controlplane/frn-core/src/app.rs
  controlplane/frn-core/src/identity.rs
  controlplane/frn-core/src/identity/iam.rs
  controlplane/frn-core/src/identity/session.rs
  controlplane/frn-crypto/src/lib.rs
  controlplane/server/Cargo.toml
  controlplane/server/src/application.rs
  controlplane/server/src/bff.rs
  controlplane/server/src/config.rs
  controlplane/server/src/lib.rs
  controlplane/server/src/metrics.rs
  controlplane/server/src/server.rs
  controlplane/server/tests/test_bff_auth.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / markdown, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

feat(console): bascule SPA→BFF — auth par cookie, suppression de PKCE
  console/package.json
  console/src/components/admin-guard.tsx
  console/src/components/app-sidebar.tsx
  console/src/components/page-guard.tsx
  console/src/config.ts
  console/src/features/authentication.slice.spec.ts
  console/src/features/authentication.slice.ts
  console/src/hooks/use-controlplane-data.ts
  console/src/middlewares/rpc.spec.ts
  console/src/middlewares/rpc.ts
  console/src/pages/index.ts
  console/src/pages/login.page.tsx
  console/src/pages/oidc-redirect.page.tsx
  console/src/providers/user-provider.tsx
  console/src/router.tsx
  console/src/services/bff-auth.spec.ts
  console/src/services/bff-auth.ts
  console/src/services/index.ts
  console/src/services/transport.rpc.ts
  console/src/services/user-manager.ts
  console/vite.config.ts
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

feat(plateforme): câblage helm du BFF + scrape /metrics + nettoyage build-args OIDC
  .gitlab-ci.yml
  console/Dockerfile
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/secrets.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.66.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

feat(dev): seed FerrisKey validé + sélecteurs system-tests BFF
  sh/ferriskey-seed.sh
  system-tests/tests/pages/oidc.page.ts
Due: build / system-tests, build / system-tests / release, deploy / ci-environment, system tests / kubernetes

feat(dev): FerrisKey remplace Keycloak dans le harness docker-compose
  certs/ca.srl
  certs/server.pem
  docker-compose.override.yml
  docker-compose.yml
  generate-certs.sh
Due: none

fix(auth): sert le BFF /auth/* et /metrics hors du layer gRPC-web
  controlplane/server/src/application.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: controlplane/**/*, node-sdk/**/*, system-tests/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: console/**/*, controlplane/**/*, system-tests/**/*, node-sdk/**/*, helm/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
  code style / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  code style / console: any of: console/**/*, .gitlab-ci.yml
  code style / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  code style / markdown: any of: **/*.md, .gitlab-ci.yml
  unit tests / authz: any of: authz/**/*, .gitlab-ci.yml
  unit tests / migration linting: any of: controlplane/migrations/**/*, .gitlab-ci.yml
  unit tests / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  deploy / ci-environment: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
  system tests / kubernetes: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
