Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release, code style / controlplane, code style / console, code style / node-sdk, code style / markdown, unit tests / authz, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

build / rust-services:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / node-sdk:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / rust-services / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / console / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / system-tests / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

build / protocol / release:
  image: registry.france-nuage.fr/library/docker:29
  services: []
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  - "cat > /tmp/buildkitd.toml <<'EOF'\n[registry.\"docker.io\"]\n  mirrors = [\"registry.france-nuage.fr\"]\nEOF\n"
  ...

fix(auth): résout le sujet OIDC via UserInfo quand l'access token n'a pas de sub
  controlplane/auth/src/error.rs
  controlplane/auth/src/mock.rs
  controlplane/auth/src/openid.rs
  controlplane/frn-core/src/identity/iam.rs
  controlplane/server/tests/test_bff_cookie_auth.rs
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.67.3 [skip ci]
  CHANGELOG.md
Due: code style / markdown

chore(deps): update dependency @types/lodash to v4.17.25
  console/package-lock.json
  console/pnpm-lock.yaml
  system-tests/package-lock.json
Due: build / console, build / system-tests, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

chore(release): 1.68.0 [skip ci]
  CHANGELOG.md
Due: code style / markdown

chore(ci): probe temporaire de timing du build workspace
  .gitlab/ci/build.yml
  controlplane/Dockerfile
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(ci): fix --timings (cargo 1.90 ne prend pas =html)
  controlplane/Dockerfile
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

perf(ci): cache les dépendances de test pour accélérer les unit-tests
  .gitlab/ci/test.yml
  controlplane/Dockerfile
Due: build / rust-services, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

chore(release): 1.68.1 [skip ci]
  CHANGELOG.md
Due: code style / markdown

docs(templates): add feature request issue template
  .gitlab/issue_templates/feature_request.md
Due: code style / markdown

docs: garde ISMS-sync — répercuter les changements infra dans le trust center public
  CLAUDE.md
Due: code style / markdown

ci: exclut les lockfiles générés du contrôle Prettier (console, node-sdk)
  console/.prettierignore
  node-sdk/.prettierignore
Due: build / console, build / node-sdk, build / system-tests, build / console / release, build / system-tests / release, code style / console, code style / node-sdk, deploy / ci-environment, system tests / kubernetes

fix(ci): déploie chaque composant sur une image existante (deploy/test-env)
  .gitlab/ci/deploy.yml
Due: none

fix(ci): capture le diagnostic cluster quand deploy/test-env échoue (#8040)
  .gitlab/ci/deploy.yml
Due: none

feat(billing): pricing per-seat (per_unit + tiered) de bout en bout
  console/src/components/managed-service-plan-card.tsx
  console/src/pages/managed-service-detail.page.tsx
  controlplane/catalog/catalog.yaml
  controlplane/frn-core/src/billing/catalog.rs
  controlplane/frn-core/src/billing/checkout.rs
  controlplane/frn-core/src/billing/mod.rs
  controlplane/frn-core/src/billing/stripe.rs
  controlplane/frn-core/src/managed.rs
  controlplane/frn-core/src/managed/catalog.rs
  controlplane/frn-rpc/billing.proto
  controlplane/frn-rpc/managed.proto
  controlplane/frn-rpc/src/v1/billing.rs
  controlplane/frn-rpc/src/v1/managed.rs
  controlplane/migrations/20260913120000_add_per_seat_pricing.sql
  controlplane/migrations/atlas.sum
  controlplane/server/tests/test_stripe_webhook_idempotency.rs
  controlplane/server/tests/test_sync_managed_service_plans_procedure.rs
  node-sdk/src/fixtures/managed-service.ts
  node-sdk/src/generated/rpc/billing.ts
  node-sdk/src/generated/rpc/managed.ts
  node-sdk/src/models/billing.ts
  node-sdk/src/models/managed-service.ts
  node-sdk/src/services/rpc/billing.rpc.ts
  node-sdk/src/services/rpc/managed-service.rpc.ts
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / rust-services / release, build / console / release, build / system-tests / release, code style / controlplane, code style / console, code style / node-sdk, unit tests / migration linting, unit tests / controlplane, deploy / ci-environment, system tests / kubernetes

fix(ci): rends l'env de revue déployable — garde OIDC publique au bootstrap
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/values-ci.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

ci(deploy): dump pod diagnostics quand le rollout helm échoue
  .gitlab/ci/deploy.yml
Due: none

ci(deploy): instrumente la garde OIDC + dump ingress pour localiser le hairpin
  .gitlab/ci/deploy.yml
  helm/plateforme/templates/_helpers.tpl
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

revert(ci): retire l'instrumentation deploy/test-env hors périmètre FRA-15
  .gitlab/ci/deploy.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/values-ci.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(ci): résous la ClusterIP d'ingress au déploiement pour le hairpin OIDC (#8042)
  .gitlab/ci/deploy.yml
  helm/plateforme/values-ci.yaml
Due: build / system-tests / release, deploy / ci-environment, system tests / kubernetes

fix(ci): hairpin OIDC — sélection robuste de l'ingress (traefik) sans avorter le job (#8042)
  .gitlab/ci/deploy.yml
Due: none

Durcissement de la configuration des en-têtes de réponse
  .gitlab/ci/test.yml
  console/nginx.conf
  console/scripts/check-security-headers.sh
Due: build / console, build / console / release, build / system-tests / release, code style / console, deploy / ci-environment, system tests / kubernetes

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: controlplane/**/*, node-sdk/**/*, system-tests/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, controlplane/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: console/**/*, controlplane/**/*, system-tests/**/*, node-sdk/**/*, helm/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml
  code style / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  code style / console: any of: console/**/*, .gitlab-ci.yml
  code style / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  code style / markdown: any of: **/*.md, .gitlab-ci.yml
  unit tests / authz: any of: authz/**/*, .gitlab-ci.yml
  unit tests / migration linting: any of: controlplane/migrations/**/*, .gitlab-ci.yml
  unit tests / controlplane: any of: controlplane/**/*, .gitlab-ci.yml
  deploy / ci-environment: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
  system tests / kubernetes: any of: controlplane/**/*, console/**/*, node-sdk/**/*, system-tests/**/*, helm/**/*, .gitlab-ci.yml
