Repository France-Nuage/plateforme: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

Path conditions:
  build / rust-services: any of: controlplane/**/*, .gitlab-ci.yml
  build / console: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / node-sdk: any of: node-sdk/**/*, .gitlab-ci.yml
  build / system-tests: any of: system-tests/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / protocol: any of: protocol/**/*, .gitlab-ci.yml
  build / rust-services / release: any of: controlplane/**/*, .gitlab-ci.yml
  build / console / release: any of: console/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / system-tests / release: any of: system-tests/**/*, node-sdk/**/*, .gitlab-ci.yml
  build / protocol / release: any of: protocol/**/*, .gitlab-ci.yml

feat: buildkit rootless, helm chart to deploy
  .gitignore
  .gitlab-ci.yml
  .markdownlint-cli2.yaml
  console/Dockerfile
  controlplane/Dockerfile
  docs/CI-schema.drawio
  docs/README.md
  helm/plateforme/Chart.yaml
  helm/plateforme/files/keycloak-realm.json
  helm/plateforme/files/spicedb-schema.zed
  helm/plateforme/templates/NOTES.txt
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/authz-worker/deployment.yaml
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/console/service.yaml
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/controlplane/migrations-configmap.yaml
  helm/plateforme/templates/controlplane/service.yaml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak-db/service.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/keycloak/realm-configmap.yaml
  helm/plateforme/templates/keycloak/service.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/postgres/init-configmap.yaml
  helm/plateforme/templates/postgres/pvc.yaml
  helm/plateforme/templates/postgres/service.yaml
  helm/plateforme/templates/secrets.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
  helm/plateforme/templates/spicedb-db/service.yaml
  helm/plateforme/templates/spicedb/deployment.yaml
  helm/plateforme/templates/spicedb/schema-configmap.yaml
  helm/plateforme/templates/spicedb/service.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/templates/system-tests/job.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fix typo
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fix typo
  .gitlab-ci.yml
  controlplane/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

fix typo
  .gitlab-ci.yml
  helm/plateforme/templates/controlplane/migrations-configmap.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

removing dind variables adjust indentation of spicedb-schema.zed removing docs folder from the repo testing an alternative to migration file
  .gitlab-ci.yml
  controlplane/Dockerfile
  docs/CI-schema.drawio
  docs/README.md
  helm/plateforme/files/spicedb-schema.zed
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/controlplane/deployment.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

testing an alternative to migration file
  controlplane/Dockerfile
Due: build / rust-services, build / rust-services / release

testing an alternative to migration file
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

deleting migration configmap from git
  helm/plateforme/templates/controlplane/migrations-configmap.yaml
Due: none

feat: buildkit rootless, helm chart to deploy
  .gitignore
  .gitlab-ci.yml
  .markdownlint-cli2.yaml
  console/Dockerfile
  controlplane/Dockerfile
  helm/plateforme/Chart.yaml
  helm/plateforme/files/keycloak-realm.json
  helm/plateforme/files/spicedb-schema.zed
  helm/plateforme/templates/NOTES.txt
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/authz-worker/deployment.yaml
  helm/plateforme/templates/console/deployment.yaml
  helm/plateforme/templates/console/service.yaml
  helm/plateforme/templates/controlplane/deployment.yaml
  helm/plateforme/templates/controlplane/service.yaml
  helm/plateforme/templates/keycloak-db/deployment.yaml
  helm/plateforme/templates/keycloak-db/service.yaml
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/keycloak/realm-configmap.yaml
  helm/plateforme/templates/keycloak/service.yaml
  helm/plateforme/templates/postgres/deployment.yaml
  helm/plateforme/templates/postgres/init-configmap.yaml
  helm/plateforme/templates/postgres/pvc.yaml
  helm/plateforme/templates/postgres/service.yaml
  helm/plateforme/templates/secrets.yaml
  helm/plateforme/templates/spicedb-db/deployment.yaml
  helm/plateforme/templates/spicedb-db/service.yaml
  helm/plateforme/templates/spicedb/deployment.yaml
  helm/plateforme/templates/spicedb/schema-configmap.yaml
  helm/plateforme/templates/spicedb/service.yaml
  helm/plateforme/templates/synchronizer/deployment.yaml
  helm/plateforme/templates/system-tests/job.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

feat: add script to list production instances
  system-tests/scripts/list-production-instances.ts
Due: build / system-tests, build / system-tests / release

refactor: rename operation-worker
  .gitlab-ci.yml
  controlplane/Dockerfile
  docker-compose.yml
  helm/plateforme/templates/NOTES.txt
  helm/plateforme/templates/operation-worker/deployment.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

feat(#7805): implement soft delete for instances removed from hypervisors
  CHANGELOG_SOFT_DELETE.md
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_TEST.md
  ISSUE_SYNCHRONIZER_SOFT_DELETE.md
  TESTS_COMPLETED.txt
  TEST_REPORT.md
  controlplane/.cargo/config.toml
  controlplane/frn-core/src/compute/instance.rs
  controlplane/migrations/20260126000000_add_soft_delete_to_instances.sql
  controlplane/synchronizer/src/lib.rs
  signal-2026-01-22-205633.txt
Due: build / rust-services, build / rust-services / release

chore: remove markdown docs from branch
  CHANGELOG_SOFT_DELETE.md
  IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_TEST.md
  ISSUE_SYNCHRONIZER_SOFT_DELETE.md
  TEST_REPORT.md
Due: none

chore: drop stray local files
  controlplane/.cargo/config.toml
  signal-2026-01-22-205633.txt
Due: build / rust-services, build / rust-services / release

chore: remove local test report
  TESTS_COMPLETED.txt
Due: none

fix: include deleted_at in instance upsert query
  controlplane/frn-core/src/compute/instance.rs
Due: build / rust-services, build / rust-services / release

fix: make console build job optional in code style pipeline
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  .gitlab-ci.yml
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

Edit disk-images-url-to-download-locally.txt
  infrastructure/scripts/disk-image-sync/disk-images-url-to-download-locally.txt
Due: none

test
  README.md
Due: none

test
  adr/001-discovery.md
  adr/002-authentication.md
Due: none

test
  controlplane/frn-core/src/compute/instance.rs
Due: build / rust-services, build / rust-services / release

test
  adr/001-discovery.md
Due: none

test
  .gitlab-ci.yml
  adr/001-discovery.md
  controlplane/synchronizer/src/lib.rs
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  controlplane/synchronizer/src/lib.rs
Due: build / rust-services, build / rust-services / release

fix : production deployment
  .gitlab-ci.yml
  helm/plateforme/templates/_helpers.tpl
  helm/plateforme/templates/keycloak/deployment.yaml
  helm/plateforme/templates/spicedb/deployment.yaml
  helm/plateforme/values-ci.yaml
  helm/plateforme/values-prod.yaml
  helm/plateforme/values.yaml
  node-sdk/Dockerfile
  protocol/Dockerfile
  system-tests/Dockerfile
Due: build / rust-services, build / console, build / node-sdk, build / system-tests, build / protocol, build / rust-services / release, build / console / release, build / system-tests / release, build / protocol / release

test
  controlplane/.sqlx/query-03c7d974fa2f90d6e41968757c241e1b73a7c375aa9fdd9c61f5ac71d651f812.json
  controlplane/.sqlx/query-06dae50e2f79f761540007449eb52edfc51b5256a28dab95f9c1863a6dbdd720.json
  controlplane/.sqlx/query-ffe303dcb8fa4fab32c696cfb22a9fd7ccfa3ebc90ffd6f044c31b0e85b5a7c6.json
  controlplane/migrations/20260126000000_add_soft_delete_to_instances.sql
  controlplane/migrations/20260128102137_add_deleted_at_to_instances.sql
  controlplane/migrations/atlas.sum
  controlplane/schema.hcl
Due: build / rust-services, build / rust-services / release
